


<ol class="breadcrumb">
  <li>{{#link-to 'index'}}Devs{{/link-to}}</li>
  <li>{{#link-to 'user' repo.owner.login}}{{user.name}}{{/link-to}}</li>
  <li>Repositories</li>
</ol>

<table class="table table-striped">
  {{#each  model as |repo|}}
  <tr>
    <td>
      {{log user}}
      {{log repo}}
      <h4>{{#link-to 'user.repositories.repository' repo.owner.login  repo.name}}{{repo.name}}{{/link-to}}</h4>
    </td>
  </tr>
  {{/each}}
</table>
